langchain-openai
langchain-core
langchain-community
langchain-huggingface
langchain-text-splitters
sentence-transformers
openai
tqdm
pillow
numpy
matplotlib
requests
jieba
rank-bm25
python-dotenv
faiss-cpu
tiktoken
gradio
